#!/usr/bin/env zsh

bindkey -e

autoload -Uz compinit && compinit
zstyle ':completion:*' menu select
zstyle ':completion::complete:*' gain-privileges 1
setopt interactivecomments

if [ -f ~/.zshrc.local ]; then
    source ~/.zshrc.local
fi

eval "$(starship init zsh)"
source $HOME/.asdf/asdf.sh
source ~/.zshrc.local || touch ~/.zshrc.local
source ~/.local/share/zsh/zsh-autosuggestions.zsh

alias cz=chezmoi
alias ls='ls -F --color=auto'
alias ll='ls -lah'
alias rm=trash

ZSH_TAB_TITLE_DEFAULT_DISABLE_PREFIX=true
ZSH_TAB_TITLE_CONCAT_FOLDER_PROCESS=true
source ~/.local/share/zsh/zsh-tab-title.zsh
{{ if eq .chezmoi.os "darwin" }}
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"
{{ end }}
