#!/usr/bin/env zsh

bindkey -e
(( $+commands[starship] )) && eval "$(starship init zsh)"
source ~/.zshrc.local || touch ~/.zshrc.local
source ~/.local/share/zsh/zsh-autosuggestions.zsh
{{ if eq .chezmoi.os "darwin" }}
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"
{{ end }}
