@define-color primary rgba(8, 8, 8, 0.5);
@define-color secondary #eeeeee;

* {
    background-color: @primary;
    color: @secondary;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

window {
    border-width: 0;
    padding: 0;
}

#text:selected {
    color: @secondary;
    background-color: @primary;
    font-size: 20px;
    font-weight:  700;
}
