for_window [app_id="org.telegram.desktop"] floating enable
for_window [app_id="gnome-.*"] floating enable
for_window [app_id="org.gnome.*"] floating enable
for_window [app_id="^popup$"] floating enable, sticky enable, resize set 20 ppt 40 ppt
for_window [app_id="(mpv|Celluloid)"] floating enable, resize set 960 540, border pixel 0
for_window [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable
for_window [app_id="firefox" title="Picture-in-Picture"] floating enable
for_window [app_id="firefox" title="About Mozilla Firefox"] floating enable
for_window [app_id="scratch"] move to scratchpad, floating enable
for_window [title="(?:Open|Save) (?:File|Folder|As)"] floating enable
