* {
    border: none;
    border-radius: 0;
    font-family: Roboto, FreeSans, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#waybar {
    background: #222222;
    color: white;
}

#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    background-color: orange;
}

#battery.critical {
    background-color: #900000;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#network.disconnected {
    color: orange;
}

#pulseaudio.muted {
    background-color: #900000;
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding: 0px;
    border-radius: 0px;
    font-weight: bold;
    color: white;
}

#workspaces button.focused {
    background-color: #295577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#workspaces button:hover {
    background-color: #484e50;
    color: white;
}

